:root {
    --primary-color: rgb(35, 162, 212);
    --seconday-color: rgb(118, 72, 177);
    --tertiary-color: rgb(197, 155, 39);
}

body {
    background-color: var(--primary-color);
    font-size: large;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

#all {
    height: 450px;
    width: 400px;
    margin: 100px auto;
    background-color: var(--seconday-color);
    border-radius: 20px;
    box-shadow: 6px 6px 5px;
}

.title {
    text-align: center;
    color: black;
    text-transform: capitalize;
    background-color: var(--tertiary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 53px;
    padding-top: 7px;
}

.form {
    text-align: center;
    font-size: 22px;
    color: black;
}

#nickname {
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

#email {
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

#pass {
    border-radius: 5px;
    width: 220px;
    height: 30px;
}

#passC {
    border-radius: 5px;
    width: 220px;
    height: 30px;
}

.submit {
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--tertiary-color);
    display: inline;
    height: 35px;
    width: 130px;
    font-size: large;
}