* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #A44200, #FCBA04);
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #FCBA04, #A44200);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.397);
    border-radius: .3rem;
    padding: 1rem;
}

div.child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    width: 9rem;
    height: 9rem;
    border-radius: .5rem;
}

div#middle {
    margin: 0 1rem 0 1rem;
}

h1 {
    font-weight: 500;
    font-size: 5em;
    color: aliceblue;
}

span {
    font-size: .8em;
    color: aliceblue;
}