@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --blackLight: #1f1f1fd3;
    --black: #151515;
    --white: #e8ebf3;
    --whiteTrans: #e8ebf3d2;
    --shadow: #15151570;
    --purple: #912fe0;
    --linkPurple: #b254ff;
    --purple-shadow: #8618e046;
}

html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;

    background-color: var(--white);

    font-family: 'Jost';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    padding: .2rem;
    width: 100%;

    background-color: var(--black);

    color: var(--white);
    font-size: 1.05rem;
    font-family: 'Jost';
    font-weight: 500;
}

div.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-right: 1.2rem;
    width: 12rem;
}

a.nav {
    color: var(--white);
    font-size: 1.05rem;
    font-weight: 400;
}

a.nav:hover {
    color: var(--linkPurple);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 68vh;

    background-image: url(imagens/header.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.header-text {
    margin: 0 0 0 1rem;

    color: var(--white);
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.header-text > p > span {
    font-size: 5rem;
}

span#ola {
    text-shadow: 3px 3px var(--purple);
}

span#me {
    text-shadow: 3px 3px var(--purple);
    font-size: 3rem;
    font-weight: 700
}

span#skill {
    font-size: 1.5rem;
}

main {
    box-shadow: 0 0 .8rem var(--shadow);
}

section.first-sec {
    display: flex;
    flex-direction: row;

    width: 100%;

    box-shadow: 0 0 1rem var(--purple-shadow);
}

.about-me {
    display: flex;
    justify-content: center;

    padding: 2rem;
    width: 50%;
}

#about {
    width: 40rem;
    padding: 1.2rem;

    box-shadow: 0 0 .8rem var(--shadow);

    color: var(--black);
}

#about > h1 {
    margin-bottom: .6rem;

    font-size: 2.5rem;
    font-weight: 700;
}

#about > p {
    font-size: 1rem;
    line-height: 1.6rem;
}

.skills-text {
    font-weight: 700;
}

#about > h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

div#tecs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tecs-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
}

.back-tecs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
    width: 10rem;
    padding: 1rem;

    background-color: var(--blackLight);
    border-radius: rem;

    color: var(--white);
}

.tecs {
    width: 7rem;
}

#css {
    width: 5rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    width: 50%;

    background-color: var(--black);
    color: var(--white);
}

.projects > h1 {
    margin-bottom: 1.2rem;

    font-size: 2.5rem;
}

#project-01 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: 0 0 3rem 0;
}

#project-01 > h2 {
    font-size: 1.6rem;
    margin: 0 0 .4rem 0;
}

#project-01 > p {
    color: var(--whiteTrans);
    max-width: 30rem;
}

#project-02 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: 0 0 1rem 0;
}

#project-02 > h2 {
    font-size: 1.6rem;
    margin: 0 0 .4rem 0;
}

#project-02 > p {
    max-width: 30rem;
}

.project-art > p {
    color: var(--whiteTrans);
}

img.project {
    width: 29vw;

    box-shadow: 0 0 .8rem #8618e071;
    transition: .2s;
}

img.project:hover {
    transform: scale(1.1);

    cursor: pointer;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 16rem;
    width: 100%;

    background-image: url(imagens/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;

    text-shadow: 0 0 .5rem var(--shadow);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

.second-sec {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding-bottom: 2rem;

    background-color: var(--black);

    color: var(--white);
}

.second-sec > h1 {
    margin: 1rem 0 1.5rem 0;

    text-align: center;
    font-size: 2.4rem;
}

.projects-02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 95%;
    margin: 0 0 1rem 0;
}

.project-art {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    width: 25rem;
}

.project-art > a > img.project {
    max-width: 100%;
    min-width: 45%;
}

.project > h2 {
    font-size: 1.6rem;
    margin: 0 0 .4rem 0;
}

.project > p {
    color: var(--whiteTrans);
}

a {
    margin: 0 0 1.2rem 0;
    transition: .2s;

    text-decoration: none;
    color: var(--purple);
    font-size: 1.2rem;
}

a:hover {
    color: #c289f0;
}

a:active {
    color: #deccee;
}

.contact-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--black);
    height: 2rem;
}

.contact-spans {
    display: flex;
    flex-direction: row;
}

.contact-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.2rem;
}

.contact-icons {
    width: 1.8rem;
    margin: 0 .7rem 0 .2rem;
    border-radius: .4rem;
    transition: .3s;
}

a > .contact-icons:hover {
    transform: scale(1.3);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}